<div th:fragment="header">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,600&family=Nunito+Sans:opsz@6..12&family=Oleo+Script&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <nav class="nav">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="STONKS Logo" class="logo-image">
        </a>
        <ul>
            <li><a th:href="@{/secure}" class="login">Login</a></li>
            <li><a th:href="@{/register}" class="register">Register</a></li>
        </ul>
    </nav>
</div>
